## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,Kodiak,US,57.79,-152.41,28.40,46,20,8.05,few clouds
1,Hithadhoo,MV,-0.60,73.08,83.26,71,6,4.52,clear sky
2,Tual,ID,-5.67,132.75,83.32,71,30,6.96,scattered clouds
3,Zyryanskoye,RU,56.83,86.63,32.90,96,100,18.45,overcast clouds
4,Oranjemund,NaN,-28.55,16.43,61.20,90,95,10.13,overcast clouds

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl><dt>Current Weather</dt><dd>{Description}
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
max_temp = vacation_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))


# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Umea")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Umea")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Sandviken")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Kirkenaer")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Ovre Ardal")]

In [96]:
vacation_start.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
506,Umea,SE,63.83,20.26,39.2,93,90,10.29,moderate rain

In [109]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][2], vacation_start.to_numpy()[0][3])
end = (vacation_end.to_numpy()[0][2], vacation_end.to_numpy()[0][3])
stop1 = (vacation_stop1.to_numpy()[0][2], vacation_stop1.to_numpy()[0][3])
stop2 = (vacation_stop2.to_numpy()[0][2], vacation_stop2.to_numpy()[0][3])
stop3 = (vacation_stop3.to_numpy()[0][2], vacation_stop3.to_numpy()[0][3])
stop3

(61.32, 7.8)

In [110]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
path = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(path)

fig

Figure(layout=FigureLayout(height='420px'))

In [115]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,Umea,SE,63.83,20.26,39.20,93,90,10.29,moderate rain
1,Sandviken,SE,60.62,16.77,37.99,80,79,5.01,broken clouds
2,Kirkenaer,NO,60.46,12.06,43.00,63,100,4.00,overcast clouds
3,Ovre Ardal,NO,61.32,7.80,36.43,83,100,6.60,overcast clouds
4,Umea,SE,63.83,20.26,39.20,93,90,10.29,moderate rain

In [116]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl><dt>Current Weather</dt><dd>{Description}
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [120]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))